<div class="container mt-4">
  <h2>📚 Ваші бронювання</h2>
  <table class="table table-dark table-striped table-bordered mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Книга</th>
      <th>Початок</th>
      <th>Кінець</th>
      <th>Статус</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bookings">
      <td>{{ b.id }}</td>
      <td>{{ b.bookId }}</td>
      <td>{{ b.startDate }}</td>
      <td>{{ b.endDate }}</td>
      <td>
          <span [ngClass]="{
            'text-success': b.status === 'FINISHED',
            'text-warning': b.status === 'PENDING',
            'text-danger': b.status === 'CANCELLED'
          }">{{ b.status }}</span>
      </td>
      <td>
        <button class="btn btn-sm btn-success" *ngIf="b.status !== 'FINISHED'" (click)="markAsFinished(b.id)">
          ✅ Завершити
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
